*{
    margin:0;
    padding:0;
}


.sideBar{
    display:flex;
    flex-direction:column;
    margin-top:8vh;
    color:white;
    height:81vh;
    width:20vw;
    background-color:black;
    border:2px solid black;
    border-radius:1vh;
    padding-top:10vh;
    padding-left:2vw;
    font-size: 4vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sideBar #add{
    width:9vw;
    height:5.8vh;
    margin-top:4vh;
    background-color:rgba(189, 180, 180, 0.461);
    color:white;
    border:1px solid black;
    border-radius:8px;
}